@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
html{font-family: 'Roboto', sans-serif;}
/*<main>*/
.taskListSelector{
    display: flex;
    justify-content: center;
    padding: 25px;
}
#task-list-title{
    font-size: 1.5em;
    padding-right: 5px;
    border: none; outline: none;
    color: #4c8bf5;
    margin: 0 auto;
}
#task-list-title:focus{
    outline: none;
}
#task-wrapper{
    margin: 0 auto;
    width: 60vw;
}

/*task*/
.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.task .task-title{
    font-weight: initial;
}
.task .task-details *{
    margin: 2px;
}
.task .task-animation{
    animation: example 1s;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
.task #task-button{
    transition: opacity 0.3s;
    font-size: 1.4em;
    color: #4c8bf5;
    background: transparent;
    border: none;
    height: 30px; width: 30px;
    margin: 0 20px 0 12px;
}
.task .task-desc{
    color: grey;
}