@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
html{font-family: 'Roboto', sans-serif;}
/*<main>*/
.taskListSelector{
    display: flex;
    justify-content: center;
    background: green;
    padding: 25px;
}
#task-list-title{
    color: #4c8bf5;
    margin-bottom: 0 auto 30px auto ;
}
#task-wrapper{
    margin: 0 25vw;
    width: 50vw;
}

/*task*/
.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.task .task-title{
    font-weight: initial;
}
.task .task-details *{
    margin: 2px;
}
.task #task-button{
    transition: opacity 0.3s;
    font-size: 1.4em;
    color: #4c8bf5;
    background: transparent;
    border: none;
    opacity: 0.7;
    height: 30px; width: 30px;
    margin: 0 20px 0 12px;
}
.task .task-button:hover{
    opacity: 1;
}
.task .task-desc{
    color: grey;
}