@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
html{font-family: 'Roboto', sans-serif;}
/*<header>*/
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 20px;
}
header img{
  height: 100px;
  margin-right: auto;
}
#user-icon{
  background: green;
}
.user-icon{
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
/*<main>*/
.taskListSelector{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px 15px 25px;
}
#task-list-title{
    font-size: 1.5em;
    padding-right: 5px;
    border: none; outline: none;
    color: #4c8bf5;
    margin: 0 auto;
}
#task-list-title:focus{
    outline: none;
}
#task-wrapper{
    margin: 0 auto;
    width: 60vw;
}
.addTask{
    color: #4c8bf5;
    background: transparent;
    border: none;
    font-size: 1.75em;
    float: right;
}
/*task*/
.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.task .task-title{
    font-weight: initial;
}
.task .task-details *{
    margin: 2px;
}
.task #task-button{
    transition: opacity 0.3s;
    opacity: 0.6;
    font-size: 1.4em;
    color: #4c8bf5;
    background: transparent;
    border: none;
    height: 30px; width: 30px;
    margin: 0 20px 0 12px;
}
.task #task-button:hover{
  opacity: 1;
}
.task #delete-task-button{
  transition: opacity 0.3s;
  opacity: 0;
  font-size: 1.25em;
    margin-left: auto;
    color: red;
    background: transparent;
    border: none;
    height: 30px; width: 30px;
}
.task #delete-task-button:hover{
  opacity: 1;
}
.task .task-desc{
    color: grey;
}
/*add task form*/
.addTaskForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .addTaskForm p{
    margin-bottom: 8px;
  }
  .addTaskForm input{
    padding: 5px;
    border: 1px solid grey;
  }
  .addTaskForm input:focus{
    border: 1px solid #4c8bf5;
  }
  .addTaskForm input:disabled{
    border: 1px solid grey;
    background: white;
    opacity: 0.5;
  }
  .addTaskForm .addTaskH1{
    margin: 5px 0 0 0;
    text-align: center;
    color: #4c8bf5;
  }
  .addTaskForm .addTaskButton{
    border: none;
    background: #4c8bf5;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto 10px auto;
  }
  .addTaskFormGrey{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }